<html>

<head>
  <meta charset="utf-8">
    <title>UW IoT Lab3</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/lab3.css') }}">
    <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  </head>

<body>

  <h2>UW IoT | Lab 3: GPIO Server Sent Events</h2>
  <h3>Switch: <span id="sw_label"></span></h3>
  <h4>RED LED (on GPIO18): <span id="red_led_label"></span></h4>
  <h4>GREEN LED (on GPIO13): <span id="yel_led_label"></span></h4>
  <h4>BLUE LED (on GPIO23): <span id="grn_led_label"></span></h4>

    <p>
        <button style="width:100px; height:50px; color:black; background:red" type='button' id='red_led_btn'>RED LED</button><br>
        <button style="width:100px; height:50px; color:black; background:yellow" type='button' id='yel_led_btn'>YELLOW LED</button><br>
        <button style="width:100px; height:50px; color:white; background:green" type='button' id='grn_led_btn'>GREEN LED</button><br>
    </p>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <script>
        // start executing only after document has loaded
        $(document).ready(function() {
            // establish global variables for LED status
            var led1;
            var led2;
            var led3;

        var iotSource = new EventSource("{{ url_for('myData') }}");
        // intercept the incoming states from SSE
        iotSource.onmessage = function(e) {
          // console.log(e.data);
          var params = e.data.split(' ');
          updateSwitch(params[0]);
          updateLeds(1,params[1]);
          updateLeds(2,params[2]);
          updateLeds(3,params[3]);
        }            

	function updateSwitch(swValue)
	{
	  if (swValue === '1') {
	    $('#sw_label').text('ON')
	    }
	  else if (swValue === '0') {
	    $('#sw_label').text('OFF')
	  }
	}

        // update the LEDs based on their SSE state monitor
        function updateLeds(ledNum,ledValue) {
          if (ledNum === 1) {
            if (ledValue === '1') {
              $('#red_led_label').text('ON');
              led1 = "ON"
            } else if (ledValue === '0') {
              $('#red_led_label').text('OFF');
              led1 = "OFF"
            }
          }
          else if (ledNum === 2) {
            if (ledValue === '1') {
              $('#yel_led_label').text('ON');
              led2 = "ON"
            } else if (ledValue === '0') {
              $('#yel_led_label').text('OFF');
              led2 = "OFF"
            }
          }
          else if (ledNum === 3) {
            if (ledValue === '1') {
              $('#grn_led_label').text('ON');
              led3 = "ON"
            } else if (ledValue === '0') {
              $('#grn_led_label').text('OFF');
              led3 = "OFF"
            }
          }
        }

/*
            // Let's read the current LED state
            function initial_conditions() {
                var d = $.Deferred();

                setTimeout(function() {
                    $.get('/leds/1', function(data) {
                        led1 = $.trim(data.split(':')[1]);
                    });

                    $.get('/leds/2', function(data) {
                        led2 = $.trim(data.split(':')[1]);
                    });

                    $.get('/leds/3', function(data) {
                        led3 = $.trim(data.split(':')[1]);
                    });

                    // console.log("Got my data now!");
                    d.resolve();
                }, 10);
                return d.done();
            }

            // Let's initialize our LED vars to the current LED state "ON"/"OFF"
            function led_status() {
                var d = $.Deferred();

                setTimeout(function() {
                    if (led1 === '0') {
                        led1 = "OFF"
                    } else {
                        led1 = "ON"
                    }
                    if (led2 === '0') {
                        led2 = "OFF"
                    } else {
                        led2 = "ON"
                    }
                    if (led3 === '0') {
                        led3 = "OFF"
                    } else {
                        led3 = "ON"
                    }
                    d.resolve();

                    console.log("RED:", led1);
                    console.log("YEL:", led2);
                    console.log("GRN:", led3);
                }, 100);
                return d.promise();
            }

            // make sure to intialize synchronously (10ms back to back)
            initial_conditions().then(led_status);
*/

            // The button click functions run asynchronously in the browser
            $('#red_led_btn').click(function() {
                if (led1 === "OFF") {
                    led1 = "ON";
                } else {
                    led1 = "OFF";
                }
                var params = 'led=1&state=' + led1;
                console.log('Led Command with params:' + params);
                $.post('/ledcmd', params, function(data, status) {
                    console.log("Data: " + data + "\nStatus: " + status);
                });
            });


            // The button click functions run asynchronously in the browser
            $('#yel_led_btn').click(function() {
                if (led2 === "OFF") {
                    led2 = "ON";
                } else {
                    led2 = "OFF";
                }
                var params = 'led=2&state=' + led2;
                console.log('Led Command with params:' + params);
                $.post('/ledcmd', params, function(data, status) {
                    console.log("Data: " + data + "\nStatus: " + status);
                });
            });

            // The button click functions run asynchronously in the browser
            $('#grn_led_btn').click(function() {
                if (led3 === "OFF") {
                    led3 = "ON";
                } else {
                    led3 = "OFF";
                }
                var params = 'led=3&state=' + led3;
                console.log('Led Command with params:' + params);
                $.post('/ledcmd', params, function(data, status) {
                    console.log("Data: " + data + "\nStatus: " + status);
                });
            });

        });
    </script>

    <script type="text/javascript">
      var switchSource = new EventSource("{{ url_for('myData') }}");
      switchSource.onmessage = function(e) {
      console.log(e.data);
      }
    </script>

</body>

</html>
